body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #f1c40f;
}

.card {
    background-color: #1b1b1b;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0px 0px 10px #f1c40f50;
}

button {
    cursor: pointer;
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: #f1c40f;
    color: #000;
    font-weight: bold;
}

button:hover {
    background-color: #d4ac0d;
}

input {
    padding: 8px;
    border-radius: 6px;
    width: 250px;
    margin-bottom: 20px;
}